.header__lang-link {
  display: inline-block;
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 1.875vw;
  line-height: 2.1875vw;
  width: 2.2656vw;
  height: 2.1875vw;
  text-decoration: none;
  color: white;
  margin-right: 1.40625vw;
}

.header__lang-link:last-child {
  margin-right: 0;
}
