.header__lang-link {
  width: 29px;
  height: 28px;
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: white;
  text-decoration: none;
  margin-right: 18px;
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link:hover {
  opacity: 0.2;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
