.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 740px;
  color: #ffffff;
  text-decoration: none;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .cover__link {
    height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    height: 200px;
  }
}
