.places {
  width: 83.11%; /*984px, проценты от CONTENT*/
  padding: 92px 100px 92px 100px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 90.625%; /* 928px */
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: 93.75%; /* 720px */
    padding: 88px 24px 90px 24px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    width: 100%; /* 320px */
    padding: 64px 0 0 0;
  }
}
