.cover__subtitle {
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 360px;
  padding-top: 32px;
  z-index: 1;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
  }
}
