.footer__link {
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  margin-right: 18px;
}

.footer__link:last-child {
  margin-right: 0;
}
