.lead__title {
  font-family: "Inter-Black", "Arial", "Helvetica", sans-serif;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 32px;
  margin: 0 auto;
}
