.lead__title {
  width: 73.17%;
  font-size: 7.5vw;
  line-height: 7.8125vw;
  font-weight: 900;
  text-align: center;
  padding-bottom: 32px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 400px;

  }
}

@media screen and (max-width: 420px) {
  .lead__title {
    max-width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    padding-bottom: 16px;
  }
}
