.footer__copyright {
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    width: 200px;
    font-size: 14px;
    line-height: 14px;
  }
}
