.intro__text {
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 1.25vw;
  line-height: 2.0313vw;
  width: 53.9063vw;
  min-height: 16.25vw;
  padding-bottom: 33px;
  margin: 0;
}
