.intro {
  width: 83.11%;
  max-width: 984px;
  color: white;
  padding-top: 92px;
  padding-bottom: 92px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 90.625%;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 93.75%;
    max-width: 720px;
    padding: 88px 0 88px 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: 90%;
    max-width: 288px;
    padding: 64px 16px 64px 16px;
    margin: 0 auto;
  }
}
