.website {
  /* max-width: 94.21%; */
  align-self: end;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .website {
    max-width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .website {
    width: 288px;
    margin: 0 auto;
  }
}
