.website__url-heading {
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #aaaaaa;
  text-transform: uppercase;
  max-width: 456px;
  padding-bottom: 12px;
  margin: 0;
}
