 .cover {
   width: 100%; /* 1184px */
   background-image: url(../../images/cover-trains.jpg);
   background-size: cover;
   background-position: center;
   position: relative;
   margin: 0 auto;
 }

.cover::before {
  display: block;
  width: 100%; /* 1184px */
  min-height: 740px;
  content: "";
  position: absolute;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover:hover::before {
  opacity: 0.8;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 1024px) {
  .cover::before {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover::before {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover::before {
    min-height: 200px;
  }
}
