.cover__title {
  font-family: "Inter-Black", "Arial", "Helvetica", sans-serif;
  font-size: 5.625vw;
  line-height: 5.9375vw;
  width: 43.75vw;
  min-height: 11.875vw;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  margin: 0;
}
