.website__link {
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 1.4063vw;
  line-height: 1.7188vw;
  width: 35.625vw;
  min-height: 1.7188vw;
  color: #ffffff;
  margin: 0;
}
