.website__link {
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}

.website__link:hover {
  opacity: 0.2;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 768px) {
  .website__link {
    width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .website__link {
    width: 288px;
  }
}
