.website__link {
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}

.website__link:hover {
  opacity: 0.2;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 768px) {
  .website__link {
    max-width: 352px;
  }
}

@media screen and (max-width: 560px) {
  .website__link {
    max-width: 205px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 400px) {
  .website__link {
    max-width: 205px;
    font-size: 10px;
    line-height: 12px;
  }
}

@media screen and (max-width: 320px) {
  .website__link {
    max-width: 288px;
  }
}
