.place {
  display: grid;
  grid-template-columns: 35.9375vw 1fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 48px 40px;
  padding-bottom: 80px;
  margin: 0;
}

.place:last-child {
  padding-bottom: 0;
}
