.place {
  width: 100%;
  display: grid;
  grid-template-columns: 46.75% calc(53.25% - 40px);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 48px 40px;
  padding-bottom: 80px;
  color: #ffffff;
  margin: 0 auto;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 42.97% calc(57.03% - 32px);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 48px 32px;
    max-width: 928px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 44.27% calc(55.73% - 28px);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 48px 28px;
    max-width: 720px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    row-gap: 32px;
    max-width: 320px;
    padding-bottom: 80px;
  }
}
