.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 92px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90.625%; /* 928px */
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93.75%; /* 720px */
    padding-top: 88px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    align-self: flex-start;
    flex-direction: column;
    gap: 48px;
    padding-left: 16px;
    padding-right: 0;
  }
}


@media screen and (max-width: 320px) {
  .footer {
    width: 95%; /*304px*/
    padding-top: 64px;

  }
}
