.footer {
  width: 1184px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 92px;
  padding-bottom: 24px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    align-self: flex-start;
    flex-direction: column;
    gap: 32px;
    padding-top: 64px;
    padding-left: 16px;
  }
}
